.page-navigation {
    background-color: #00ccff;
    height: 50px ;
}

.page-navigation ul {
	list-style: none;
}

.page-navigation ul li {
	padding: 0 20px ;
    float: left ;
    line-height: 50px ;
}
.page-navigation ul li a {
    color: #fff;
    text-decoration:none;
    font-weight:bold;
    font-size:20px;
}
.page-navigation ul li a: hover {
	color:#000000;
	text-decoration:underline;
}