.main-container {
	width: 960px;
	padding:60px;
	margin: 0 auto; 
	background-image: url('http://fc02.deviantart.net/fs40/i/2009/046/d/3/black_damask_by_MT_Schorsch.jpg');
	background-size: cover;

}

.main-header {
	width: 120px;
	height: 100px;
	color: #fff;
	font-size: 30px;
	padding-top: 50px;
	float: left;
	background-color: #000;
     
}


.main-body{
	width: 960px;
	height:1000px;
	background-color: #fff;
}

.side-bar {
	width:960px;
	height:30px;
}

.side-bar ul {
	list-style: none;
	
}

.side-bar ul li{
	padding: 0 15px;
    float: left;
    line-height: 50px;
    background-color: #20b2aa; 
}

.side-bar ul li a{
	color:#000;
	text-decoration: none;
}

.side-bar ul li a:hover {
	text-decoration: none;
	color:#20b2aa;
}

.our-services {
	float: left;
	width:960px;
	color: orange;
	padding: 10px 40px;
}

.side-para {
	float: left;
	width: 150px;
	padding: 40px 20px;
}












.padded-multiline {
	line-height: 1.3;
	padding: 2px 0;
	border-left: 20px solid #c0c;
}











