.main-container {
	width: 960px;
	padding:60px;
	margin: 0 auto; 
	background-color: #000;
}

.main-header {
	width: 120px;
	height: 100px;
	color: #fff;
	font-size: 30px;
	padding-top: 50px;

	float: left;
	background-color: #000;
     
}

.pacman {
	float: left;
	width: 840px;
	height: 150px;
}

.main-body{
	width: 960px;
	height:1000px;
	background-color: #fff;
}

.side-bar {
	width:960px;
	height:30px;
}

.side-bar ul {
	list-style: none;
}

.side-bar ul li{
	padding: 0 15px;
    float: left;
    line-height: 50px;
    background-color: #20b2aa; 
}

.side-bar ul li a{
	color:#000;
	text-decoration: none;
}

.side-bar ul li a:hover {
	text-decoration: none;
	color:#20b2aa;
}

.h1 {
	color: orange;
	padding: 10px 40px;
}

.side-para {
	float: left;
	width: 150px;
	padding: 40px 20px;
}

#boxes{
    padding:40px 30px;
    float: left;
    font-size: 6px;
}